// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.folder  {  
    background:url("../images/folder.png") no-repeat scroll left center transparent;  
}  
  
.file {  
    background:url("../images/file.png") no-repeat scroll left center transparent;  
}  
.folder.asset_details:hover, .shared_folder.asset_details:hover, .file.asset_details:hover  {  
    border:1px solid #DFDFDF;  
}  
.folder.asset_details:hover  {  
    background:url("../images/folder.png") no-repeat scroll left center #EFEFEF;  
}  
.shared_folder  {  
    background:url("../images/shared_folder.png") no-repeat scroll left center transparent;  
}  
.shared_folder.asset_details:hover  {  
    background:url("../images/shared_folder.png") no-repeat scroll left center #EFEFEF;  
}  
.file.asset_details:hover  {  
    background:url("../images/file.png") no-repeat scroll left center #EFEFEF;  
}  
